.idea
.vscode
.theia
.DS_Store
.ipynb_checkpoints
__pycache__
*.pyc
/certificates
/model-training/data
/model-training/runs
/venv
/draft.py
/tmp.py
/model-training/Untitled.ipynb
/model-training/torchvision_pretrained.ipynb
/app/ml-models/mask-rcnn-coco/frozen_inference_graph.pb