{% extends 'shared/base.html' %}

{% block title %}Instance segmentation{% endblock %}

{% block header %}<h1>Instance segmentation</h1>{% endblock %}

{% block page_content %}
<form id="myForm" method="post" enctype="multipart/form-data">
    <h4>1. Upload an image in JPEG or PNG format</h4>
    <input type="file" name="file" accept="image/png, image/jpeg">
    <br>
    <br>
    <input type="submit" value="Submit">
    <h4>2. Get the result</h4>
    <p class="output">{{ info }}&nbsp</p>
    {% if image is defined %}
    <img src="{{ image }}" alt="Segmented image" style="max-width:100%;">
    {% endif %}
</form>
{% endblock %}
