{% extends 'base.html' %}

{% block title %}Digit classification{% endblock %}

{% block header %}<h3>Digit classification</h3>{% endblock %}

{% block page_content %}
<div style="text-align: center;">
    <canvas id="canvas" width="400" height="400" style="border: 1px solid #000000;"></canvas>
    <br>
    <form id="myForm" method="post">
        <input type="hidden" id="image" name="img" value="{{ image }}">
        <input type="button" value="Clear" onclick="clearCanvas()" style="width: 10em;">
        <input type="button" value="Submit" onclick="submitCanvas()" style="width: 10em;">
    </form>
</div>
<p class="output" id="output1">&nbsp{{ output1 }}</p>
<p class="output" id="output2">&nbsp{{ output2 }}</p>
{% endblock %}

{% block scripts %}<script src="{{ url_for('static', path='/js/digit.js') }}"></script>{% endblock %}
